/* * {
  border: solid gold;
} */

body {
  text-align: center
}

/*nav*/
.nav-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  display: flex;
}

.navImg {
  width: 110px;
  float: left;
}

.welcome {
  color: whitesmoke;
  border: 3px solid green;

  margin: auto;
}


/*quote*/

.quote-container {
  width: 90%;
  margin: 0 auto;
}

.quote-text {
  height: 150px;
}

<<<<<<< HEAD
#formbtn {
    display: flex;
    align-self: flex-end;
}
=======

/*options*/

.options-container div{
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
<<<<<<< HEAD
>>>>>>> 0999e2923711d3ed0eb9a44b774b3aa7159fc56d
=======

.btn {
  border: black 1px solid;
  margin: 1em 5px;
}
>>>>>>> 8b965fb5bf7e8b37a8ad62595445f827ddf2051b
